<section class="work-section" id="how-it-works">

    <div class="features-heading">

        <span>
            HOW IT WORKS
        </span>

        <h2>
            Create Resume In 3 Easy Steps
        </h2>

    </div>

    <div class="work-grid">

        <!-- Step 1 -->

        <div class="work-card">

            <div class="number">
                01
            </div>

            <h3>
                Choose Template
            </h3>

            <p>
                Pick a professional ATS-friendly template.
            </p>

        </div>

        <!-- Step 2 -->

        <div class="work-card">

            <div class="number">
                02
            </div>

            <h3>
                Fill Your Details
            </h3>

            <p>
                Enter education, skills and experience.
            </p>

        </div>

        <!-- Step 3 -->

        <div class="work-card">

            <div class="number">
                03
            </div>

            <h3>
                Download Resume
            </h3>

            <p>
                Export high-quality PDF in one click.
            </p>

        </div>

    </div>

</section>