.testimonial-section{


width:min(1450px,92%);


margin:130px auto 140px;


display:grid;


grid-template-columns:380px 1fr;


gap:70px;


align-items:center;


}







/* Left Heading */


.testimonial-heading span{


color:#2563eb;


font-size:14px;


font-weight:700;


letter-spacing:3px;


}



.testimonial-heading h2{


margin-top:18px;


font-size:48px;


line-height:1.2;


font-weight:800;


color:#0f172a;


}



.testimonial-heading p{


margin-top:20px;


color:#64748b;


line-height:1.7;


font-size:17px;


}







/* Buttons */


.slider-buttons{


display:flex;


gap:15px;


margin-top:35px;


}



.slider-buttons button{


width:48px;


height:48px;


border-radius:50%;


border:none;


background:#eff6ff;


color:#2563eb;


font-size:22px;


cursor:pointer;


transition:.3s;


}



.slider-buttons button:hover{


background:#2563eb;


color:white;


}







/* Slider */


.testimonial-slider{


overflow:hidden;


}



.testimonial-track{


display:flex;


transition:.5s ease;


}



.testimonial-card{


min-width:100%;


background:white;


padding:40px;


border-radius:30px;


border:1px solid #dbeafe;


box-shadow:


0 20px 45px rgba(37,99,235,.08);


}



.quote{


font-size:70px;


color:#2563eb;


font-weight:bold;


line-height:1;


}



.testimonial-card p{


margin:20px 0 35px;


color:#64748b;


line-height:1.8;


font-size:17px;


}







.profile-area{


display:flex;


align-items:center;


gap:18px;


}



.avatar{


width:60px;


height:60px;


border-radius:50%;


background:linear-gradient(
135deg,
#2563eb,
#60a5fa
);


color:white;


display:flex;


justify-content:center;


align-items:center;


font-size:22px;


font-weight:bold;


}



.profile-area h4{


margin-bottom:5px;


color:#0f172a;


}



.profile-area span{


color:#64748b;


}







@media(max-width:900px){


.testimonial-section{


grid-template-columns:1fr;


gap:40px;


}


.testimonial-heading h2{


font-size:36px;


}


}